<header id="header">

  <section class="header-top bg-sky-200 relative after:bg-gradient-to-r after:from-sky-100 after:to-sky-500 after:block after:h-[3px]">
    <div class="container">
      <p class="font-bold text-sky-900">End of Summer Sale! Get 10% off by using code SUMMER10</p>
    </div>
  </section>

  <section class="header-middle lg:hidden">
    <div class="container flex items-center justify-between">

        <!-- Logo: Icon -->
        <a href="/" class="flex items-center">
          <img class="w-16 mr-4" src="https://www.youngskincare.com/Shared/Themes/JustinV3/images/logos/young_skincare_icon.svg" alt="Young Skincare Icon">
          <h1 class="font-bold uppercase">Young Skincare</h1>
        </a>

        <!-- Menu -->
        <a href="javascript:void(0)" class="mdi mdi-menu text-black" data-nav="open">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </a>
    </div>
  </section>

  <section class="header-bottom hidden lg:block">
    <div class="container flex flex-col items-center">
      
      <!-- Logo: Logo -->
      <a href="/" class="logo-container">
        <img class="logo-logo h-24" src="https://www.youngskincare.com/Shared/Themes/JustinV3/images/logos/young_skincare_logo.svg" alt="Young Skincare Logo">
      </a>

      <!-- Menu: Main -->
      <nav class="nav-main flex items-center">
        <a href="/store/default.aspx" target="">Home</a>
        <a href="/About-Us" target="">About Us</a>
        <a href="/Skin-Care-Products" target="">Products</a>
        <a href="/Services" target="">Services</a>
        <a href="/Contact-Us.aspx" target="">Contact Us</a>
        <a href="https://youngskincare.myaestheticrecord.com/book/appointments" target="_blank">Book Now</a>
      </nav>

    </div>
  </section>

</header>