<div id="dialog" class="dialog__page w-screen h-screen z-0 pointer-events-none overflow-hidden fixed inset-0 flex items-center justify-center opacity-0">
  <div class="dialog__scrim bg-black bg-opacity-50 w-screen h-screen fixed inset-0 flex items-center justify-center z-0" data-dialog-close></div>
  <div class="dialog__wrapper w-5/6 h-5/6 lg:w-3/4 lg:h-1/2 bg-black max-w-screen-md opacity-0 border-sky-300 border-[6px] relative rounded-2xl">
    <section id="dialogContainer" class="dialog__container border-black border-[3px] bg-black flex flex-col absolute inset-0 overflow-hidden rounded-xl">
      <div id="acctl3802_dvControl" class="Control MailingList Control_3802">
        
        <!-- Extract content 
        ***************************
        *************************** 
        *************************** -->
        <div id="discountControls" class="hidden">
          <div id="acctl3802_dvControlHeader" class="ControlHeader ControlHeader_3802">
            <img src="/images/coupon.png" alt="Save 10% (summer10)" />Save 10% (summer10)
          </div>
          <input name="acctl3802$txtEmailAddress" type="text" id="acctl3802_txtEmailAddress" class="ControlInput ControlInput_3802" />
          <input type="submit" name="acctl3802$btnSubmit" value="Go" id="acctl3802_btnSubmit" class="ThemeButton GoThemeButton MailingListGoThemeButton btn btn-default" data-key="ThemeButton_Go_MailingList_string" />
        </div>

        <!-- Discoun.njk
        ***************************
        *************************** 
        *************************** -->
        <div id="discountCode" class="h-full flex flex-col lg:flex-row absolute inset-0">
          <i class="leading-[0] absolute bg-black text-white lg:bg-white rounded-md top-[6px] right-[8px] lg:top-[8px] lg:right-[8px] text-xl font-bold z-10 w-8 h-8 lg:text-black flex items-center justify-center cursor-pointer not-italic hover:bg-sky-300 hover:text-white transition-colors" data-dialog-close> ✕ </i>
          <!-- Image 
          *************************** -->
          <figure class="h-2/5 w-full lg:h-full lg:w-1/2"></figure>
          <!-- Content
          *************************** -->
          <section class="flex flex-col justify-between text-white p-2 lg:p-4 text-center h-3/5 lg:h-full lg:w-1/2">
            <!-- Offer -->
            <div class="flex-grow flex flex-col justify-evenly">
              <span class="flex-none">Experience Our World Of Beauty!</span>
              <div class="grid items-center justify-center">
                <span id="discountText" class="text-5xl lg:text-6xl font-bold uppercase text-pink-300 font-mono tracking-tight block"> Save 20% </span>
                <span class="text-2xl lg:text-4xl font-medium uppercase tracking-wider font-mono whitespace-nowrap block"> On Todays Order </span>
              </div>
              <i class="text-gray-400 text-base lg:text-lg leading-none"> Be the first to know about new <br /> procedures and exclusive offers. </i>
            </div>
            <!-- Form Submit-->
            <div class="flex-none flex flex-col gap-2 lg:gap-4">
              <input id="discountEmail" type="email" placeholder="Enter Email" class="text-center rounded-md h-12 lg:h-14 text-black text-lg focus:border-sky-300 focus:ring focus:ring-sky-200" />
              <button id="discountButton" disabled class="bg-sky-300 hover:bg-sky-400 transition-colors text-white leading-none rounded-md no-underline inline-flex items-center uppercase text-2xl justify-center h-12 lg:h-14 btn btn-default"> View My Code </button>
            </div>
          </section>
        </div>

        <!-- Thankyou.njk
        ***************************
        *************************** 
        *************************** -->
        <div id="discountThankyou" class="h-full flex flex-col absolute inset-0 top-full">
          <!-- Content
          *************************** -->
          <section class="flex flex-col items-center justify-evenly text-white p-4 lg:p-4 text-center h-full">
            <!-- Offer -->
            <div class="grid gap-4">
              <span class="text-5xl lg:text-8xl font-bold uppercase text-sky-300 font-mono tracking-tight"> Thank you! </span>
              <i class="text-2xl lg:text-4xl font-medium uppercase font-mono"> Here's a&nbsp; <span id="discountPercent">20%</span>&nbsp;off coupon code: </i>
            </div>
            <!-- Form Submit-->
            <div class="flex-none flex flex-col gap-2 lg:gap-4 w-full items-center">
              <i id="thankyouMessage" class="text-gray-400 text-base lg:text-lg leading-tight">Click code to copy</i>
              <input id="thankyouCode" type="text" readonly class="w-full lg:w-3/4 text-center rounded-md h-12 lg:h-14 text-black text-lg focus:border-sky-300 focus:ring focus:ring-sky-200" />
              <button id="thankyouButton" data-dialog-close class="w-full lg:w-3/4 text-white border-white hover:bg-pink-300 transition-colors border-2 leading-none rounded-md no-underline inline-flex items-center uppercase text-2xl justify-center h-12 lg:h-14 btn btn-default"> Continue Shopping </button>
            </div>
          </section>
        </div>
        
      </div>
    </section>
  </div>
</div>